{% set ip   = ansible_default_ipv4 %}

dhcp-range={{ ip.network | ansible.netcommon.ipmath(50) }},{{ ip.network | ansible.netcommon.ipmath(250) }},12h
dhcp-authoritative
dhcp-option=option:router,{{ ip.gateway }}

listen-address=::1,127.0.0.1,{{ ip.address }}
interface={{ ip.interface }}
expand-hosts
domain-needed
bogus-priv
read-ethers
domain=home,{{ ( ip.address + '/' + ip.netmask ) | ansible.netcommon.ipaddr('network/prefix') }},local

{% for dns in dns_servers %}
server={{ dns }}
{% endfor %}

cache-size=1000
