bind_addr = "0.0.0.0"
data_dir = "/var/lib/nomad/"
name = "{{ ansible_nodename }}"

advertise {
  http = "{{ nomad.advertise }}"
  rpc  = "{{ nomad.advertise }}"
  serf = "{{ nomad.advertise }}"
}

tls {
  http = true
  rpc  = true
  ca_file   = "/etc/nomad/ca.pem"
  cert_file = "/etc/nomad/{{ "server" if nomad.server else "client" }}.pem"
  key_file  = "/etc/nomad/{{ "server" if nomad.server else "client" }}-key.pem"
}

{% if nomad.server %}
server {
  enabled          = true
  bootstrap_expect = 3
  encrypt          = "{{ gossip_key }}"
  retry_join       = ["{{ nomad_server }}"]
}
{% endif %}

{% if nomad.client %}
client {
  enabled    = true
  servers    = ["{{ nomad_server }}"]
  node_class = "{{ nomad.node_class | default("") }}"
}
{% endif %}
