bind_addr = "0.0.0.0"
datacenter = "{{ nomad_datacenter }}"
data_dir = "/var/nomad"

{% raw %}
advertise {
  rpc  = "{{ GetInterfaceIP \"tailscale0\" }}"
  http = "{{ GetInterfaceIP \"tailscale0\" }}"
  serf = "{{ GetInterfaceIP \"tailscale0\" }}"
}
{% endraw %}


consul {
  address = "127.0.0.1:8500"
}

{% if is_server %}
server {
  enabled          = true
  raft_protocol    = 3
  # use consul for auto clustering
  # bootstrap_expect = 3
}

autopilot {
  cleanup_dead_servers      = true
  last_contact_threshold    = "200ms"
  max_trailing_logs         = 250
  server_stabilization_time = "10s"
  enable_redundancy_zones   = false
  disable_upgrade_migration = false
  enable_custom_upgrades    = false
}
{% endif %}


{% if is_client %}
client {
  enabled = true
  servers = ["{{ server_address }}"]
  {% if nomad_cpu_total_compute is defined %}
  cpu_total_compute = {{ nomad_cpu_total_compute }}
  {% endif %}

  host_network "default" {
    interface = "tailscale0"
  }

  host_network "public" {
    interface = "{{ ansible_default_ipv4.interface }}"
  }

  meta {
    {% for k, v in client_meta.items() %}
    "{{ k }}" = "{{ v }}"
    {% endfor %}
  }
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
  }
}
{% endif %}
