[Unit]
Description=Consul
Wants=network-online.target
After=network-online.target
Wants=tailscaled.service
After=tailscaled.service
Wants=docker.service
After=docker.service

[Service]
KillMode=process
KillSignal=SIGINT
ExecStart=/usr/local/bin/consul agent -config-file /etc/nomad/consul.hcl
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
TasksMax=infinity

[Install]
WantedBy=multi-user.target
