[Unit]
Description=Convoy Daemon
Before=docker.service

[Service]
ExecStart=/usr/local/bin/convoy daemon --drivers vfs --driver-opts vfs.path={{ convoy_vfs_path }}
Type=simple
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
